.PathNotFound{
    align-items: center;
    justify-content: center;
    background-color: black;
    height: fit-content;
}

.PathNotFound img{
    align-items: center;
    justify-content: center;
}